<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple User Panel | Login into your account</title>
  <script src="./checkURL.js"></script>
  <script src="https://unpkg.com/vue@3.3.11/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/axios@1.6.2/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>Login</h1>
    <form @submit.prevent="submitLogin">
      <div class="user-uuid">
        <label for="user-uuid-input">
          Username or E-mail:
          <input id="user-uuid-input" name="uuid" required type="text" v-model="formUUID" @change="checkFormUUID">
          <span v-if="UUIDError !== null">&nbsp; {{ UUIDError }}</span>
        </label>
      </div>
      <div class="user-password">
        <label for="user-password-input">
          Password:
          <input id="user-password-input" name="password" required type="password" v-model="formPassword" @change="checkFormPassword">
          <span v-if="passwordError !== null">&nbsp; {{ passwordError }}</span>
        </label>
      </div>
      <div class="user-login">
        <button
          type="submit"
          :disabled="
            formUUID.length === 0 ||
            formPassword.length == 0 ||
            UUIDError !== null ||
            passwordError !== null
          "
        >Login</button>
      </div>
    </form>
    <div v-if="loginError !== null" class="login-error">
      <span>{{ loginError }}</span>
    </div>
    <a href="http://localhost:8080/">Back to Home</a>
  </div>
  <script>
    Vue.createApp({
      data: () => ({
        formUUID: '',
        formPassword: '',
        UUIDError: null,
        passwordError: null,
        loginError: null
      }),
      methods: {
        checkFormUUID() {
          return axios.post('http://localhost:8080/api/check/uuid', { uuid: this.formUUID })
          .then(response => { this.UUIDError = null })
          .catch(({ response: { status, data: { error: UUIDError }}}) => { this.UUIDError = UUIDError.message })
        },
        checkFormPassword() {
          return axios.post('http://localhost:8080/api/check/password', { password: this.formPassword })
          .then(() => { this.passwordError = null })
          .catch(({ response: { status, data: { error: passwordError }}}) => { this.passwordError = passwordError.message })
        },
        submitLogin() {
          (async () => {
            await this.checkFormUUID()
            await this.checkFormPassword()
            if (this.UUIDError !== null || this.passwordError !== null) return
  
            const data = {
              uuid: this.formUUID,
              password: this.formPassword
            }
  
            axios.post('http://localhost:8080/api/auth/login', data)
            .then(({ data }) => {
              if (data?.redirect && checkURL(data.redirect)) window.location.href = data.redirect
              else window.location.reload()
            })
            .catch(({ response: { data } }) => {
              const error = data?.error?.message || data?.error?.code || data?.error || data
              console.error('Login error:', error)
              return null
            })
          })()
        }
      }
    }).mount('#app')
  </script>
</body>
</html>