<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple User Panel | Dashboard</title>
  <script src="https://unpkg.com/vue@3.3.11/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/axios@1.6.2/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>Dashboard</h1>
    <span>Hello, {{ accountData && accountData['username'] ? accountData['username'] : 'User' }}</span>
    <form name="update-account" @submit.prevent="updateAccount">
      <label for="username">
        <span>Username:</span><br>
        <input id="username" name="username" type="text" placeholder="New username..." v-model="formUsername" @change="checkFormUsername">
        <span v-if="usernameError!== null">&nbsp; {{ usernameError}}</span>
      </label>
      <br>
      <label for="email">
        <span>E-mail:</span><br>
        <input id="email" name="email" type="email" placeholder="New E-mail..." v-model="formEmail" @change="checkFormEmail">
        <span v-if="emailError !== null">&nbsp; {{ emailError }}</span>
      </label>
      <br>
      <label for="new-password">
        <span>New password:</span><br>
        <input id="new-password" name="new-password" type="password" placeholder="New password..." v-model="formNewPassword" @change="checkFormNewPassword">
        <span v-if="newPasswordError !== null">&nbsp; {{ newPasswordError }}</span>
      </label>
      <br>
      <label for="old-password">
        <span>Actual password:</span><br>
        <input id="old-password" name="old-password" type="password" placeholder="Actual password..." v-model="formOldPassword" @change="checkFormOldPassword" :required="typeof formNewPassword === 'string' && formNewPassword.length > 0">
        <span v-if="oldPasswordError !== null">&nbsp; {{ oldPasswordError }}</span>
      </label>
      <br>
      <button type="submit">Save</button>
      <span v-if="updateError !== null">&nbsp; {{ updateError }}</span>
    </form>
    <br>
    <button @click="exitAccount" id="exit">Exit account</button>
    <button @click="deleteAccount" id="delete">Delete account</button>
    <a href="http://localhost:8080/">Back to Home</a>
  </div>
  <script type="module">
    Vue.createApp({
      setup() {
        const accountData = Vue.ref(null)
        const getAccountData = async () => {
          try {
            const response = await axios.get('http://localhost:8080/api/users')
            if (response.status === 200) {
              accountData.value = response.data
              return
            }
          } catch (e) {
            console.error('Failed to fectch user data:', e)
          }
          accountData.value = { id: null, username: 'Username', email: null }
        }

        Vue.onMounted(getAccountData)

        return { accountData }
      },
      data: () => ({
        formUsername: '',
        formEmail: '',
        formNewPassword: '',
        formOldPassword: '',
        usernameError: null,
        emailError: null,
        newPasswordError: null,
        oldPasswordError: null,
        updateError: null
      }),
      methods: {
        checkFormUsername() {
          axios.get('http://localhost:8080/api/check/username', { username: this.formUsername })
          .then(response => {
            console.log(response)
          })
          .catch(error => {
            console.log(error)
          })
        },
        checkFormEmail() {
          axios.get('http://localhost:8080/api/check/email', { email: this.formEmail })
          .then(response => {
            console.log(response)
          })
          .catch(error => {
            console.log(error)
          })
        },
        checkFormNewPassword() {
          this.validatePassword(formNewPassword)
        },
        checkFormOldPasswor() {
          this.validatePassword(formOldPassword)
        },
        validatePassword(password) {
          return axios.get('http://localhost:8080/api/check/password', { password })
          .then(console.log)
          .catch(console.error)
        },
        updateAccount() {
          this.checkFormUsername()
          this.checkFormEmail()
          this.checkFormPasswords()

          if (this.usernameError !== null || this.emailError !== null || this.newPasswordError !== null || this.oldPasswordError !== null) return

          const data = {
            username: this.formUsername,
            email: this.formEmail,
            password: this.formOldPassword,
            'new-password': this.formNewPassword
          }

          axios.put('http://localhost:8080/api/users', data)
          .then(response => {
            this.updateError = null
            this.accountData = response.data
          })
          .catch(({ response: { data } }) => {
            console.error('Update error:', data)
            const error = data?.error?.message || data?.error?.code
            if (error) this.updateError = error
          })
        },
        exitAccount() {
          axios.post('http://localhost:8080/api/auth/exit')
          .then(response => {
            const redirect = response?.data?.redirect
            if (window.checkURL(redirect)) window.location.href = redirect
          })
          .catch(error => {
            console.error('Could not exit:', error)
          })
        },
        deleteAccount() {
          axios.delete('http://localhost:8080/api/users')
          .then(console.log)
          .catch(error => {
            console.error('Failed to delete account:', error)
          })
        }
      }
    }).mount('#app')
  </script>
</body>
</html>