<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple User Panel | Account creating</title>
  <script src="https://unpkg.com/vue@3.3.11/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/axios@1.6.2/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>Register</h1>
    <form @submit.prevent="submitRegister">
      <h2>Register Account</h2>
      <div class="user-username">
        <label for="user-username-input">
          Username:
          <input id="username-input" name="username" type="username" v-model="formUsername" @change="checkFormUsername" required>
          <span v-if="usernameError !== null">&nbsp; {{ usernameError }}</span>
        </label>
      </div>
      <div class="user-email">
        <label for="email-input">
          E-mail:
          <input id="email-input" name="email" type="email" v-model="formEmail" @change="checkFormEmail" required>
          <span v-if="emailError !== null">&nbsp; {{ emailError }}</span>
        </label>
      </div>
      <div class="user-password">
        <label for="password-input">
          Password:
          <input id="password-input" name="password" type="password" v-model="formPassword" @change="checkFormPassword" required>
          <span v-if="passwordError !== null">&nbsp; {{ passwordError }}</span>
        </label>
      </div>
      <div class="user-register">
        <button
          type="submit"
          :disabled="
            formUsername.length === 0 ||
            formEmail.length === 0 ||
            formPassword.length == 0 ||
            usernameError !== null ||
            emailError !== null ||
            passwordError !== null
          "
        >Register</button>
      </div>
    </form>
    <div v-if="registerError !== null" class="register-error">
      <span>{{ registerError }}</span>
    </div>
    <a href="http://localhost:8080/">Back to Home</a>
  </div>
  <script>
    Vue.createApp({
      data: () => ({
        formUsername: '',
        formEmail: '',
        formPassword: '',
        usernameError: null,
        emailError: null,
        passwordError: null,
        registerError: null
      }),
      methods: {
        checkFormUsername() {
          return axios.post('http://localhost:8080/api/check/username', { username: this.formUsername })
          .then(() => { this.usernameError = null })
          .catch(({ response: { data: { error: usernameError }}}) => { this.usernameError = usernameError.message })
        },
        checkFormEmail() {
          return axios.post('http://localhost:8080/api/check/email', { email: this.formEmail })
          .then(() => { this.emailError = null })
          .catch(({ response: { data: { error: emailError }}}) => { this.emailError = emailError.message })
        },
        checkFormPassword() {
          return axios.post('http://localhost:8080/api/check/password', { password: this.formPassword })
          .then(() => { this.passwordError = null })
          .catch(({ response: { data: { error: passwordError }}}) => { this.passwordError = passwordError.message })
        },
        submitRegister() {
          (async () => {
            await this.checkFormUsername()
            await this.checkFormEmail()
            await this.checkFormPassword()
            if (this.usernameError !== null || this.emailError !== null || this.passwordError !== null) return
  
            const data = {
              username: this.formUsername,
              email: this.formEmail,
              password: this.formPassword
            }
  
            axios.post('http://localhost:8080/api/auth/register', data)
            .then(response => {
              console.log(response)
            })
            .catch(error => {
              console.error('Register error:', error)
            })
          })()
        }
      }
    }).mount('#app')
  </script>
</body>
</html>